.navbar-inverse {
	background-color: #545993;
	color: #fff;
}

.navbar-text {
	color: #ccc;
}

.rest-of-back {
	height: 1000px;
	width: 100%;
	background-color: #c5c6c3;
}

h1 {
	padding-top: 50px;
}

.gallery {
	margin-top: 60px;
}

.row img {
	width: 80%;
}